foreachsqldb/src/main/mule/foreachsqldb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8b2e7da6-2fdd-4f92-87fc-b3589df3ba89" >
		<http:listener-connection host="localhost" port="8080" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8cd3ab86-c9b4-424d-9024-70a19273a997" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Rahul@1992$sql" database="mydb" />
	</db:config>
	<flow name="foreachsqldbFlow" doc:id="399e67df-2d9b-47b9-b033-a0c19fc23967" >
		<http:listener doc:name="Listener" doc:id="25e67821-08f0-449d-9a12-26f7f274520b" config-ref="HTTP_Listener_config" path="foreachsql"/>
		<ee:transform doc:name="Transform Message" doc:id="f0beb2c0-bdfd-428f-99ac-3cc613051fd6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 1000 map
{
 id : if ($$ == 4)'super' else 200 + $$,
 name: "rahul",
 number: 123456789,
 lname: "pilli"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="foreachsqldbBatch_Job" doc:id="7e8936f2-8e00-4d39-9880-ebe0d6338919" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="4b30a514-f546-48a0-8639-d02ab60d18a6" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="3b060226-db9b-4ec1-acd3-0817fdbc4fc2" size="20">
						<logger level="INFO" doc:name="Logger" doc:id="3364a021-3601-431c-8b9b-85696fd0f430" message="#[payload]" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="c75c5d34-f967-43c3-8466-6be462a8f1f2" config-ref="Database_Config">
							<db:sql ><![CDATA[insert into mydb.emp (id, name, number, lname) values (:id, :name, :number, :lname);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="4f0c7c59-fc04-4db1-a24e-700e96b650e0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="adf24601-e49d-4278-835f-bfe76fa66321" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
