foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2171567c-8637-4bc1-a9da-dc7fe66ed779" >
		<http:listener-connection host="localhost" port="8080" />
	</http:listener-config>
	<flow name="foreachFlow" doc:id="f87aee5e-4607-4c69-b2b3-50f5073a5d5a" >
		<http:listener doc:name="Listener" doc:id="b662c2ed-2602-4565-9fc3-801f5a315e0f" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="e2a01a12-f56a-4b99-9b4b-5d359f90b476" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 100 map
{
 id: 200+ $$,
 name:"rahul",
 number:123456789,
 lname:"pilli"	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="2a20c24f-7812-4959-a708-05a3b094cdf5" >
			<logger level="INFO" doc:name="Logger" doc:id="59419bcb-6b49-4de8-b2f7-9ab2dbf7222d" message="#[payload]" />
		</parallel-foreach>
	</flow>
</mule>
